## Prediction of Credibility of Disaster Tweets

In [1]:
import pandas as pd
import re
from sklearn import linear_model,feature_extraction,model_selection
from sklearn.feature_extraction import text

In [2]:
train_df=pd.read_csv("C:/Users/madir/Downloads/train.csv")
test_df=pd.read_csv("C:/Users/madir/Downloads/test.csv")

In [3]:
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
train_df.tail()

,id,keyword,location,text,target
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [5]:
train_df["text"]

0       Our Deeds are the Reason of this #earthquake M...
1                  Forest fire near La Ronge Sask. Canada
2       All residents asked to 'shelter in place' are ...
3       13,000 people receive #wildfires evacuation or...
4       Just got sent this photo from Ruby #Alaska as ...
5       #RockyFire Update => California Hwy. 20 closed...
6       #flood #disaster Heavy rain causes flash flood...
7       I'm on top of the hill and I can see a fire in...
8       There's an emergency evacuation happening now ...
9       I'm afraid that the tornado is coming to our a...
10            Three people died from the heat wave so far
11      Haha South Tampa is getting flooded hah- WAIT ...
12      #raining #flooding #Florida #TampaBay #Tampa 1...
13                #Flood in Bago Myanmar #We arrived Bago
14      Damage to school bus on 80 in multi car crash ...
15                                         What's up man?
16                                          I love fruits
17                                       Summer is lovely
18                                      My car is so fast
19                           What a goooooooaaaaaal!!!!!!
20                                 this is ridiculous....
21                                      London is cool ;)
22                                            Love skiing
23                                  What a wonderful day!
24                                               LOOOOOOL
25                         No way...I can't eat that shit
26                                  Was in NYC last week!
27                                     Love my girlfriend
28                                              Cooool :)
29                                     Do you like pasta?
                              ...
7583    Pic of 16yr old PKK suicide bomber who detonat...
7584    These boxes are ready to explode! Exploding Ki...
7585    Calgary Police Flood Road Closures in Calgary....
7586    #Sismo DETECTADO #JapÌ_n 15:41:07 Seismic inte...
7587                                   Sirens everywhere!
7588    BREAKING: #ISIS claims responsibility for mosq...
7589                                       Omg earthquake
7590    SEVERE WEATHER BULLETIN No. 5 FOR: TYPHOON ÛÏ...
7591    Heat wave warning aa? Ayyo dei. Just when I pl...
7592    An IS group suicide bomber detonated an explos...
7593    I just heard a really loud bang and everyone i...
7594    A gas thing just exploded and I heard screams ...
7595    NWS: Flash Flood Warning Continued for Shelby ...
7596    RT @LivingSafely: #NWS issues Severe #Thunders...
7597    #??? #?? #??? #??? MH370: Aircraft debris foun...
7598    Father-of-three Lost Control of Car After Over...
7599    1.3 #Earthquake in 9Km Ssw Of Anza California ...
7600    Evacuation order lifted for town of Roosevelt:...
7601    #breaking #LA Refugio oil spill may have been ...
7602    a siren just went off and it wasn't the Forney...
7603    Officials say a quarantine is in place at an A...
7604    #WorldNews Fallen powerlines on G:link tram: U...
7605    on the flip side I'm at Walmart and there is a...
7606    Suicide bomber kills 15 in Saudi security site...
7607    #stormchase Violent Record Breaking EF-5 El Re...
7608    Two giant cranes holding a bridge collapse int...
7609    @aria_ahrary @TheTawniest The out of control w...
7610    M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
7611    Police investigating after an e-bike collided ...
7612    The Latest: More Homes Razed by Northern Calif...
Name: text, Length: 7613, dtype: object

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
id          7613 non-null int64
keyword     7552 non-null object
location    5080 non-null object
text        7613 non-null object
target      7613 non-null int64
dtypes: int64(2), object(3)
memory usage: 208.2+ KB

In [7]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
id          3263 non-null int64
keyword     3237 non-null object
location    2158 non-null object
text        3263 non-null object
dtypes: int64(1), object(3)
memory usage: 63.8+ KB

In [8]:
test_df["text"]

0                      Just happened a terrible car crash
1       Heard about #earthquake is different cities, s...
2       there is a forest fire at spot pond, geese are...
3                Apocalypse lighting. #Spokane #wildfires
4           Typhoon Soudelor kills 28 in China and Taiwan
5                      We're shaking...It's an earthquake
6       They'd probably still show more life than Arse...
7                                       Hey! How are you?
8                                        What a nice hat?
9                                               Fuck off!
10                                  No I don't like cold!
11                             NOOOOOOOOO! Don't do that!
12                                 No don't tell me that!
13                                              What if?!
14                                               Awesome!
15      Birmingham Wholesale Market is ablaze BBC News...
16      @sunkxssedharry will you wear shorts for race ...
17      #PreviouslyOnDoyinTv: Toke MakinwaÛªs marriag...
18      Check these out: http://t.co/rOI2NSmEJJ http:/...
19      PSA: IÛªm splitting my personalities.\n\n?? t...
20           beware world ablaze sierra leone &amp; guap.
21      Burning Man Ablaze! by Turban Diva http://t.co...
22      Not a diss song. People will take 1 thing and ...
23      Rape victim dies as she sets herself ablaze: A...
24           SETTING MYSELF ABLAZE http://t.co/6vMe7P5XhC
25      @CTVToronto the bins in front of the field by ...
26      #nowplaying Alfons - Ablaze 2015 on Puls Radio...
27      'Burning Rahm': Let's hope City Hall builds a ...
28      @PhilippaEilhart @DhuBlath hurt but her eyes a...
29      Accident cleared in #PaTurnpike on PATP EB bet...
                              ...
3233    Wreckage 'Conclusively Confirmed' as From MH37...
3234    #science Now that a piece of wreckage from fli...
3235    Wreckage 'Conclusively Confirmed' as From MH37...
3236    Wreckage 'Conclusively Confirmed' as From MH37...
3237    TOP STORY: wreckage from #MH370 officially con...
3238    Wreckage 'Conclusively Confirmed' as From MH37...
3239    Wreckage 'Conclusively Confirmed' as From MH37...
3240    RT @australian Debris found on an Indian Ocean...
3241    Cramer: Iger's 3 words that wrecked Disney's s...
3242    Almost *wrecked* my van the other day because ...
3243    'What manner of human being would parcel out a...
3244    @Nathan26_RFC thought you said Saturday night ...
3245    I just wanna ease your mind and make you feel ...
3246    @yakubOObs think he deactivated because his no...
3247    RT CNBC '3 words from Disney CEO Bob Iger wrec...
3248    Smackdown tyme this should put me in a good mo...
3249    @thrillhho jsyk I haven't stopped thinking abt...
3250    @stighefootball Begovic has been garbage. He g...
3251                   Wrecked today got my hattrick ????
3252    #Ebola #EbolaOutbreak Ebola Virus: Birmingham ...
3253    Malaysian PM confirms debris is from missing f...
3254    Officials: Alabama home quarantined over possi...
3255    See the 16yr old PKK suicide bomber who detona...
3256    To conference attendees! The blue line from th...
3257    The death toll in a #IS-suicide car bombing on...
3258    EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259    Storm in RI worse than last hurricane. My city...
3260    Green Line derailment in Chicago http://t.co/U...
3261    MEG issues Hazardous Weather Outlook (HWO) htt...
3262    #CityofCalgary has activated its Municipal Eme...
Name: text, Length: 3263, dtype: object

In [26]:
train_df=train_df.drop_duplicates(["text","target"])

In [27]:
def replace_terms(data):
    for word in data.split():
        word=word.lower()
        value1=re.match(".*@.*",word)
        if value1:
            data = re.sub("@","@ ",data)
        value2=re.match(".*:.*",word)
        if value2:
            data = re.sub(":"," : ",data)
        value3=re.match(".*#.*",word)
        if value3:
            data= re.sub("#","# ",data)
        value4=re.match(".*/.*",word)
        if value4:
            data= re.sub("/"," / ",data)
        value5=re.match(".*_.*",word)
        if value5:
            data= re.sub("_"," _ ",data)
        value6=re.match(".*[0-9]+[a-zA-Z][a-zA-Z]",word)
        if value6:
            index=0
            for i in range(len(word)):
                if word[i] not in ["0","1","2","3","4","5","6","7","8","9"]:
                    index=i
                    break
            word1=word[:index]
            data=re.sub(re.escape(word)," "+word1+" ",data)

    return data

In [28]:
Td_idf_transformer_1=text.TfidfVectorizer(preprocessor=replace_terms)

In [29]:
train_x=Td_idf_transformer_1.fit_transform(train_df["text"])
test_x=Td_idf_transformer_1.transform(test_df["text"])
train_y=train_df["target"]

In [30]:
Model=linear_model.RidgeClassifier()
Model.fit(train_x,train_y)

RidgeClassifier(alpha=1.0, class_weight=None, copy_X=True, fit_intercept=True,
                max_iter=None, normalize=False, random_state=None,
                solver='auto', tol=0.001)

In [31]:
scores = model_selection.cross_val_score(Model, train_x, train_y, cv=4)
scores

array([0.7267411 , 0.72195641, 0.72659574, 0.7631719 ])

In [32]:
Model.predict(test_x)

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)